/* Blocks */
.layout {
  display: flex;
  width: 100vw;
  height: 100svh;
}

.auth-form {
  margin-bottom: 4rem;
  position: relative;
}

.header {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.account-menu-btn {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50vh;
  padding: 12px;
  margin-block: 12px;
  cursor: pointer;
}

.account-menu-btn:hover {
  background-color: var(--hov-bg-dark);
}
.account-menu-btn:focus-visible {
  outline: none;
  border-color: currentColor;
}

.account-menu {
  width: 300px;
  background-color: var(--bg);
  padding-block: 12px;
  position: fixed;
  bottom: 80px;
  left: 100px;
  border-radius: 14px;
  box-shadow: 0 0 7px 0px hsl(0 0 100 / 0.5);
  z-index: 6;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-title {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.post-creator {
  display: flex;
  padding: 16px 16px 8px;
  border-bottom: 1px solid rgb(47, 51, 54);
}

.aside {
  width: 350px;
  margin-right: 1rem;
}

.connect-box {
  margin-block: 2px;
  border: 1px solid rgb(47, 51, 54);
  border-radius: 12px;
}

.account-main {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
}

.account-names {
  flex: 1;
  padding-inline: 12px 16px;
  padding-block: 2px;
  font-size: 15px;
  font-weight: 700;
  overflow: hidden;
}

.account-name {
  display: block;
  flex: 1;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post {
  display: flex;
  gap: 8px;
  padding: 12px 16px 8px;
  border-bottom: 1px solid rgb(47, 51, 54);
  cursor: pointer;
}

.fullname-link {
  outline: none;
  max-width: fit-content;
}

.fullname-link:hover,
.fullname-link:focus-visible {
  text-decoration: underline;
}

.post-actions {
  display: flex;
  column-gap: 28px;
}

.auth-container {
  display: flex;
  flex: 1;
}

/* Elements */
.auth__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth__logo {
  width: 100%;
  height: 50%;
  max-height: 380px;
  padding: 32px;
}

.auth__content {
  display: flex;
  min-width: 45vw;
  padding: 16px;
}

.auth__main {
  min-width: 437px;
  max-width: 760px;
  width: 100%;
  padding: 20px;
  align-self: center;
  margin-top: -48px;
}

.auth__heading {
  margin-block: 48px;
  font-size: 64px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -1.2px;
  word-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.auth__caption {
  margin-bottom: 32px;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.auth__error {
  color: hsl(0, 66%, 51%);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  position: absolute;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 259px;
  padding-inline: 8px;
  overflow-y: auto;
}

.header__logo {
  width: fit-content;
  margin-block: 2px;
  line-height: 1;
}

.header__logo a {
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 50vh;
}

.header__logo a:hover {
  background-color: var(--hov-bg-dark);
}

.header__nav {
  display: grid;
  margin-top: 2px;
}

.header__nav__content {
  display: flex;
  width: fit-content;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 50vh;
  box-sizing: initial;
  font-size: 20px;
}

.header__nav__link {
  outline: none;
}

.header__nav__link:hover .header__nav__content {
  background-color: var(--hov-bg-dark);
}

.header__nav__link:focus-visible .header__nav__content {
  border-color: var(--bg-btn);
}

.header__nav__text {
  display: flex;
  padding-inline: 20px 16px;
}

.header__post-btn {
  width: 90%;
  min-width: 52px;
  padding: 14px;
  margin-block: 12px;
  border: none;
  border-radius: 50vh;
  background-color: var(--bg-btn);
  color: rgb(15, 20, 25);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.header__post-btn:hover {
  background-color: hsl(210, 25%, 95%);
}
.header__post-btn:focus-visible {
  border-color: var(--bg-btn);
}

.post-btn__text {
  opacity: 1;
  transition: opacity 300ms ease-in;
  overflow: hidden;
}

.post-btn__icon {
  display: none;
}

.account-menu__link {
  display: block;
  padding: 8px 12px;
}

.account-menu__link:hover {
  background-color: var(--hov-bg-dark);
}

.account-menu__names {
  flex: 1;
  max-width: 154.61px;
  padding-inline: 12px 16px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.account-menu__username {
  color: hsl(210, 4%, 46%);
  font-weight: 400;
}

.main__content {
  display: flex;
  justify-content: space-between;
  width: 990px;
  min-height: 100%;
}

.main__outlet {
  flex: 1;
  max-width: 600px;
  padding-bottom: 6rem;
  border-inline: 1px solid rgb(47, 51, 54);
}

.main__outlet__header {
  background-color: hsl(0 0 0 / 0.65);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgb(47, 51, 54);
  position: sticky;
  top: 0;
  z-index: 3;
}

.post-creator__main {
  display: grid;
  gap: 8px;
  width: 100%;
}

.post-creator__main .textEditor {
  border-bottom: 1px solid rgb(47, 51, 54);
}

.post__content {
  margin-bottom: 12px;
}

.post__content p {
  line-height: 20px;
}

.reply-btn {
  --_clr: rgb(29, 155, 240);
  --_bg-clr: hsla(204, 88%, 53%, 0.15);
}

.like-btn {
  --_clr: hsl(332, 95%, 54%);
  --_bg-clr: hsla(332, 95%, 54%, 0.15);
}

.post-actions__btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50vh;
  padding: 6px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.post-actions__btn svg {
  width: 20px;
  height: 20px;
}

.post-actions__btn:hover,
.post-actions__btn:focus-visible {
  background-color: var(--_bg-clr);
  color: var(--_clr);
}

.post-action__value {
  position: absolute;
  left: calc(100% - 2px);
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.main__content__header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 16px;
  min-height: 53px;
  background-color: hsl(0 0 0 / 0.65);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 3;
}

.aside__main {
  width: 100%;
  position: sticky;
  top: 0;
}

.connect-box__heading {
  margin: 12px 16px;
  font-size: 20px;
  font-weight: 700;
}

.connect-box__account {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
}

/* Modifiers */
.main__content--auth {
  width: 100%;
}

.auth__logo--small {
  display: none;
  width: 2.25rem;
  height: 2.25rem;
}

.modal__content--auth {
  min-width: 600px;
}

/* Media Queries */
@media (max-width: 1110px) {
  .main__content {
    width: 920px;
  }
  .main__content--auth {
    width: 100%;
  }
  .aside {
    width: 290px;
  }
}

@media (max-width: 1020px) {
  .main__content {
    width: 600px;
  }
  .main__content--auth {
    width: 100%;
  }
  .auth__content {
    max-width: 600px;
    margin: 0 auto;
  }
  .auth__main {
    min-width: 100%;
    align-self: auto;
    margin-block: 0;
  }
  .auth__logo-container {
    display: none;
  }
  .auth__logo--small {
    display: block;
  }
  .main__outlet {
    width: 100%;
  }
  .aside {
    display: none;
  }
}

@media (max-width: 770px) {
  .main__content {
    width: 100%;
  }
  .main__content--auth {
    width: 100%;
  }
}

@media (max-width: 515px) {
  .auth__heading {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.8px;
    margin-block: 40px;
  }
  .auth__caption {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1295px) {
  .header__content {
    width: auto;
    align-items: center;
  }
  .header__nav__text {
    display: none;
  }
  .header__post-btn {
    width: auto;
  }
  .post-btn__icon {
    display: flex;
  }
  .post-btn__text {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .account-menu-btn {
    width: auto;
  }
  .account-menu-btn div:not(.picture) {
    display: none;
  }
}
